
<h1>Contacts</h1>
<br>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>LinkedIn</th>
        <th>Company</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td>
            <%= link_to contact.first_name + ' ' + contact.last_name, contact %>
          </td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.linkedin %></td>
          <td><%= contact.company %></td>
          <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>

      </tbody>
    </table>

<%= link_to "New contact", new_contact_path, class:"btn btn-secondary" %>
