<% if user_signed_in? %>

<h1>Contacts</h1>
<br>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>LinkedIn</th>
        <th>Company</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
        <% if contact.user == current_user %>
          <td>
            <%= link_to contact.first_name + ' ' + contact.last_name, contact %>
          </td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.linkedin %></td>
          <td><%= contact.company %></td>
          <td><%= button_to 'Delete', contact, method: :delete, data: { turbo: :false } , class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      <% end %>

      </tbody>
    </table>

  <%= link_to "New contact", new_contact_path, class:"btn btn-secondary" %>
<% else %>
<% content_for :head do %>
  <script src="app\assets\stylesheets\index.css"></script>
<% end %>
        

    <main>
      <section class="hero">
      <h1> Welcome to Card Rack! </h1> <br> <br>
        <h2>Save and manage your contacts with ease.</h2>
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.email_field :email, class: "form_item",
    placeholder: " Enter your Email", autofocus: true, autocomplete: "email" %> <br>
          <%= f.password_field :password, class: "form_item",
    placeholder: " Password", autocomplete: "current-password" %> <br>
          <%= f.submit "Log in", class: "log_button" %>
        <% end %>
        <p>Don't have an account? <%= link_to 'Sign up now', new_user_registration_path%></p>
      </section>
      <div class="image">
    <%= image_tag "unold_icon1_animation_loop_f.gif", class: "main_img" %>
      </div>
    </main>

<% end %>